<div>
  <h2>{{ currentDate.format("MMMM YYYY") }}</h2>
  <button (click)="prevMonth()">Previous Month</button>
  <button (click)="nextMonth()">Next Month</button>

  <table>
    <thead>
      <tr>
        <th
          *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']"
        >
          {{ day }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of calendarData">
        <!-- Add this block within the td element to display colored dots -->
        <td *ngFor="let day of week" [class.current-month]="day.isCurrentMonth" [class.today]="day.isToday">
          <div class="day-container">
            <div class="event-dot" *ngFor="let event of day.events" [style.background-color]="event.color"></div>
            <div class="date">{{ day.date.format('D') }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
