.clsrm-nav {
  background-color: white;
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  color: #4dab23;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
